TOKEN = DEV_OR_LIVE_TOKEN
DEV = DEV_TOKEN
LIVE = LIVE_TOKEN

OWNER_ID = 
RECRUIT_CHANNEL = 

# Tenor API. Will be deprecated after June 30 2026
CLIENT_KEY = 
TENOR_API_KEY = 

# Restart command functionality. Works with pterodactyl based dashboards
HOSTING_API_KEY = 
RESTART_ENDPOINT = 